.page1 {
  display: none;
}
.page2-1 {
  display: none;
}
.page2-2 {
  display: none;
}
.page2-3 {
  display: none;
}
.page3-1 {
  display: none;
}
.page3-2 {
  display: none;
}
.page3-3 {
  display: none;
}
.page3-4 {
  display: none;
}
.page3-5 {
  display: none;
}
.page3-6 {
  display: none;
}
.page4-1 {
  display: none;
}
.page4-2 {
  display: none;
}
.page4-3 {
  display: none;
}
.page4-4 {
  display: none;
}
.java {
  display: none;
}
.ruby {
  display: none;
}
.python {
  display: none;
}